@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0xp;
}
body{
	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	font-size:18px;
	color:#990000;
}
#Banner{
	width:100%;
	background:black;
	padding: 10px 0px;
	color: #FFFFFF;
}

h1,h3{
	
	letter-spacing: .1em;
	text-shadow: 
	  -1px -1px 1px #111, 
	  2px 2px 1px #ABABAB;
	font-family:serif;
}
#Menu{
	
	 max-width:100%;
	 height:50px;
	 background:#F2F2F2;
	 position:relative;
	 color:#FFFFFF;
	 
	 
}
.MenuCap1 {
	display:none;
	margin-top:10px;
	
}
#Menuleft{
	display:none;
}
@media screen and (max-width: 700px) {
	#Menu > ul > li {
		display:none;
		margin-top:10px;
		
	}
	
	
	#Menu > ul {
		max-width:100%;
		height:auto;
		border-bottom:none;
		background:#F2F2F2;
	}
	#Menu > ul > .Menu1{
		display:block;
		padding-top:15px;
	}
	#Menu > ul:hover li{
		display:block;
	}
	.MenuCap1 > li{
		margin-top:10px;
	}
	#btnMenu{
		background:url(images/menu-128.png);
		height:35px;
		width:35px;
		cursor:pointer;
		position:absolute;
		right:20px;
		top:10px;
	}
	
	
}
 @media screen and (min-width: 700px) {
	 #Menu > button{
		display:none;
	 }
	 #Menu > ul > .Menu1{
		display:none;
	 }
	#Menu > ul > li{
		float:left;
		text-align:center;
		padding: 20px;
		padding-bottom:10px;
		position: relative;
		display:block;
		}
	
	#Menu > ul > li > a{
		color:#000000;
		font-size:17px;
	}
	
	#Menu > ul > li:hover{
		background:#F2F2F2;
		box-sizing: border-box;
		border-bottom: 3px solid #3AABFE;
		display:block;
		
	}
	.MenuCap1{
		display:none;
		width:200px;
		background: #F2F2F2;
		padding:15px;
		text-align:left;
		font-size:14px;
		position:absolute;
		margin: 0px 0px 0px -20px;
	}
	
	.MenuCap1 > li{
		list-style:none;
		margin-top:10px;
	}
	
	.MenuCap1 > li > div > a{
		list-style:none;
		position:relative;
		top:-20px;
	}
	
	
 }
 @media screen and (min-width: 876px){
	#NoiDung{
		max-width:100%;
		height:auto;
		
	}
	
	#NoiDung > #Menuleft{
		display:block;
		float:left;
		width:17%;
		height:auto;
		border:1px solid #000000;
		border-radius:10px;
		margin-right:10px;
		background:#D7CCC8;
	}
	#NoiDung > #ND{
		float:left;
		width:80%;
		height:auto;
		border:3px solid #000000;
		border-radius:20px;		
		margin-bottom:10px;
	}
	#NoiDung > #Menuleft > ul{
		padding-left:0px;
	}
	#NoiDung > #Menuleft > ul > li{
		padding:10px 0 0 10px; 
		border-bottom:1px solid #000000;
	}
	#NoiDung > #Menuleft > ul > li:hover {
		background:#FFFFFF;
	}
	#NoiDung > #Menuleft > ul > li > a:hover {
		color:#000000;
	}
	#left_contact{
		width:40%;
		height:300px;
		float:left;
		margin-top:25px;
		border:1px solid #F00;
		margin-left:10px;
	}
	#right_contact{
		width:50%;
		height:auto;
		float:right;
		margin-top:25px;
		margin-left:25px;
	}
 }
 #NoiDung > #ND > #Anh_TV{
		width:100%;
		height:auto;
		margin-top:50px;
	}
	h2{
		font-size:2.3125em;
		font-weight: 300;
	}
#Menu > ul > li:hover .MenuCap1
{
	display:block;
}
.icon{
	width:15px;
	height:15px;
}
#page1{
	width:100%;
	margin-top:10px;
}
#NoiDung > #ND > img{
	width:80%;
	height:300px;
	margin-left:10%;
	margin-top:10px;
	border:3px solid #00CCCC;
	border-radius:40px;
	box-shadow: 15px 15px 20px rgba(0,0,0,.5);
}


#content{
	width:80%;
	height:600px;
	margin:auto;
	float:left;
	margin-left:10%;
}


.txt{
	width:70%;
	height:30px;
	border-radius:10px;
	margin-top:20px;
	background:#FFF;
	margin-left:20px;
}
#txtND{
	width:70%;
	height:100px;
	border-radius:10px;
	margin-top:20px;
	background:#FFF;
	margin-left:20px;	
}
.btn{
	float:left;
	width:155px;
	height:49px;
	margin:10px 0 0 40px;
    background: e0e0e0;
	border:5px solid  #fafafa;
	border-radius:50px;
	cursor:pointer;
}
.btn > h3{
	color:#8a8a8a;
}
#map{
	
	width:100%;
	height:300px;	
}
.chessboard{
	width: 50%;
	height:424px;
	margin:auto;
    border:4px solid black;
	margin-top:20px;
}

.black{
	float: left;
	width:12.5%;
	height: 53px;
	background-color: #808080;
	font-size: 30px;
	text-align: center;

}

.white{
	float: left;
	width:12.5%;
	height: 53px;
	background-color: #FFFFFF;
	font-size: 30px;
	text-align: center;

}
.green{
	float: left;
	width: 115px;
	height: 500px;
	display:table-cell;
	text-align: center;
  	border: 3px solid #CCC;  
	border-color: #808080;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #C0C0C0;

	
}

.grey{
	float: left;
	width: 115px;
	height: 500px;
	display:table-cell;
	text-align: center;
  	border: 3px solid #CCC;  
	border-color: #808080;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #00FFFF;
}
#txtCM{
	width:70%;
	height:30px;
	border-radius:10px;
	margin-left:20%;
	margin-bottom:10px;
	border:2px solid #666;
}
#footer{
	clear:left;
	width:100%;
	height:100px;
	background:#000000;
	line-height:100px;
	color:#FFF;
}

